# root
node_modules
.env

# Vite React client
client/node_modules
client/dist

# server
server/node_modules
server/.env

.env

# Vite React client
client/node_modules
client/dist

# server
server/node_modules
server/.env